/* line 74, connection/*.png */

.connection-sprite,
li.space .connection-connected,
li.space .connection-disconnected,
li.space .connection-signal-poor-1,
li.space .connection-signal-poor-2,
li.space .connection-signal-poor-3 {
  background: url('../images/connection-sbf960a6c27.png') no-repeat;
}

/* line 9, ../sass/main.scss */

body {
  background: url(../images/bg.jpg) center top no-repeat fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

/* line 15, ../sass/main.scss */

.nav li {
  height: 20px;
}

/* line 19, ../sass/main.scss */

li.space {
  margin-left: 30px;
}

/* line 60, ../../../../../Users/user/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

li.space .connection-connected {
  background-position: 0 -20px;
}

/* line 60, ../../../../../Users/user/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

li.space .connection-disconnected {
  background-position: 0 0;
}

/* line 60, ../../../../../Users/user/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

li.space .connection-signal-poor-1 {
  background-position: 0 -80px;
}

/* line 60, ../../../../../Users/user/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

li.space .connection-signal-poor-2 {
  background-position: 0 -60px;
}

/* line 60, ../../../../../Users/user/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

li.space .connection-signal-poor-3 {
  background-position: 0 -40px;
}

/* line 24, ../sass/main.scss */

.navbar .btn.btn-signin {
  margin-top: 0;
}

/* line 28, ../sass/main.scss */

.top-margin {
  margin-top: 20px;
}

/* line 32, ../sass/main.scss */

.signal-status {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

/* line 39, ../sass/main.scss */

input.search-input {
  height: 34px;
  font-size: 20px;
  line-height: 34px;
}

/* line 45, ../sass/main.scss */

.tweets-search-form {
  margin-bottom: 0;
  text-align: center;
}

/* line 50, ../sass/main.scss */

.tweets-search-container {
  margin: -42px 0 0 -340px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 19px;
}

/* line 58, ../sass/main.scss */

.connection-status {
  line-height: 20px;
  padding: 10px 15px;
  color: #FFF;
  font-size: 11px;
}

/* line 65, ../sass/main.scss */

.tweet-date {
  color: #777;
  font-weight: bold;
  margin-left: 70px;
}

/* line 71, ../sass/main.scss */

.evaluation-bar {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  width: 100px;
  position: absolute;
  height: 10px;
  right: 30px;
  top: 19px;
}

/* line 81, ../sass/main.scss */

.user-container {
  position: relative;
  padding: 19px;
}

/* line 84, ../sass/main.scss */

.user-container.success {
  -webkit-animation: evaluate-success 0.7s infinite;
  animation: evaluate-success 0.7s infinite;
}

/* line 86, ../sass/main.scss */

.user-container.success .name a {
  color: #468847;
}

/* line 90, ../sass/main.scss */

.user-container.error {
  -webkit-animation: evaluate-error 0.7s infinite;
  animation: evaluate-error 0.7s infinite;
}

/* line 92, ../sass/main.scss */

.user-container.error .name a {
  color: #b94a48;
}

/* line 96, ../sass/main.scss */

.user-container .name {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* line 102, ../sass/main.scss */

.user-container.success-report {
  background: #dff0d8;
}

/* line 103, ../sass/main.scss */

.user-container.success-report .name a {
  color: #468847;
}

/* line 108, ../sass/main.scss */

.user-container.error-report {
  background: #f2dede;
}

/* line 109, ../sass/main.scss */

.user-container.error-report .name a {
  color: #b94a48;
}

/* line 116, ../sass/main.scss */

.twitter-signin {
  font-weight: bold;
  color: #5DC8D1;
}

/* line 121, ../sass/main.scss */

.profile-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* line 127, ../sass/main.scss */

.show-results {
  width: 620px;
  margin: 70px auto;
}

/* line 130, ../sass/main.scss */

.show-results ul {
  list-style: none;
}

/* line 133, ../sass/main.scss */

.show-results button {
  margin: 50px auto 100px;
  display: block;
}

@-webkit-keyframes evaluate-success {
  /* line 140, ../sass/main.scss */
  0% {
    background: inherit;
  }

  /* line 141, ../sass/main.scss */
  50% {
    background: #dff0d8;
  }

  /* line 142, ../sass/main.scss */
  100% {
    background: inherit;
  }
}

@keyframes evaluate-success {
  /* line 140, ../sass/main.scss */
  0% {
    background: inherit;
  }

  /* line 141, ../sass/main.scss */
  50% {
    background: #dff0d8;
  }

  /* line 142, ../sass/main.scss */
  100% {
    background: inherit;
  }
}

@-webkit-keyframes evaluate-error {
  /* line 146, ../sass/main.scss */
  0% {
    background: inherit;
  }

  /* line 147, ../sass/main.scss */
  50% {
    background: #f2dede;
  }

  /* line 148, ../sass/main.scss */
  100% {
    background: inherit;
  }
}

@keyframes evaluate-error {
  /* line 146, ../sass/main.scss */
  0% {
    background: inherit;
  }

  /* line 147, ../sass/main.scss */
  50% {
    background: #f2dede;
  }

  /* line 148, ../sass/main.scss */
  100% {
    background: inherit;
  }
}

/* line 152, ../sass/main.scss */

.user-container.error .progress,
.user-container.success .progress {
  display: none;
}

/* Tweets Repeater Animation */

/* line 158, ../sass/main.scss */

.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
}

/* line 165, ../sass/main.scss */

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-enter {
  -webkit-transform: rotateX(120deg) rotateZ(120deg);
  -ms-transform: rotateX(120deg) rotateZ(120deg);
  transform: rotateX(120deg) rotateZ(120deg);
  opacity: 0;
}

/* line 171, ../sass/main.scss */

.animate-repeat.ng-enter.ng-enter-active,
.animate-repeat.ng-leave {
  -webkit-transform: rotateX(0deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateZ(0deg);
  opacity: 1;
}