<div class="row">
  <div class="span4">
    <div class="chart-container"><gaugechart title="Attention" color="#DC143C" value="attention"></gaugechart></div>
    <div class="chart-container top-margin"><gaugechart title="Meditation" color="#00CED1" value="meditation"></gaugechart></div>
  </div>
  <div class="span8">
    <div class="chart-container"><columnchart title="Brain waves" delta="delta" theta="theta" low-alpha="lowAlpha" high-alpha="highAlpha" low-beta="lowBeta" high-beta="highBeta" low-gamma="lowGamma" high-gamma="highGamma"></columnchart></div>
    <div class="top-margin chart-container"><splinechart title="Raw EEG" value="rawEeg"></splinechart></div>
  </div>
</div>
